In [140]:
import pandas as pd
import numpy as np
from sklearn import preprocessing, tree
from sklearn.feature_extraction import DictVectorizer
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as mpl
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import cross_val_score

encoding = 'utf-8-sig'

pd.set_option('display.width', 5000)
pd.set_option('display.max_columns', 60)

In [2]:
headers = []
with open('data/dataDescription.txt', 'r') as dd:
    for line in dd:
        if line[0].isdigit():
            items = line.split(' ')
            headers.append(items[2].strip().replace(':', ''))

DataFrame = pd.read_csv('./data/trainingset.txt', names=headers, na_values=['?'])
DataFrame.head()

    id  age      job   marital  education default  balance housing loan  contact  day month  duration  campaign  pdays  previous poutcome      y
0  TR1   44  JobCat9    single  secondary      no       29     yes   no  unknown    5   may         0         1     -1         0  unknown  TypeA
1  TR2   31  JobCat4   married  secondary      no        2     yes  yes  unknown    5   may         0         1     -1         0  unknown  TypeA
2  TR3   42  JobCat4  divorced   tertiary     yes        2     yes   no  unknown    5   may         0         1     -1         0  unknown  TypeA
3  TR4   58  JobCat2   married    primary      no      121     yes   no  unknown    5   may         0         1     -1         0  unknown  TypeA
4  TR5   43  JobCat9    single  secondary      no      593     yes   no  unknown    5   may         0         1     -1         0  unknown  TypeA

In [120]:
CatFeatures = ['job','loan','marital', 'education', 'default', 'housing', 'contact', 'month', 'poutcome']
CatFrame = DataFrame[CatFeatures]

ContFrame = DataFrame.drop(CatFeatures + ['id', 'y'], axis=1)

CatFrame.head()
# ContFrame.head()

       job loan   marital  education default housing  contact month poutcome
0  JobCat9   no    single  secondary      no     yes  unknown   may  unknown
1  JobCat4  yes   married  secondary      no     yes  unknown   may  unknown
2  JobCat4   no  divorced   tertiary     yes     yes  unknown   may  unknown
3  JobCat2   no   married    primary      no     yes  unknown   may  unknown
4  JobCat9   no    single  secondary      no     yes  unknown   may  unknown

In [121]:
#  Clean Data

In [131]:
CatFrame.replace('?', 'NA')
CatFrame.replace('unknown','NA')
CatFrame.fillna('NA', inplace = True)

# CatFrame.contact.unique()

In [132]:
# Ready data for classifier

In [133]:
vecCatDF = pd.get_dummies(CatFrame)
trainDataFrame = np.hstack((ContFrame.as_matrix(), vecCatDF ))

vectorizer = DictVectorizer( sparse = False)
cat_df = CatFrame.T.to_dict().values()
vec_cat_df = vectorizer.fit_transform(cat_df)
train_df = np.hstack((ContFrame.as_matrix(), vec_cat_df))

In [134]:
# Create decision tree (ID3)

In [136]:
DecisionTreeModel = tree.DecisionTreeClassifier(criterion='entropy')
target = DataFrame['y']
x_train, x_test, y_train, y_test = train_test_split(train_df, target, test_size=0.2, random_state=0)

DecisionTreeModel.fit(x_train, y_train)

pred = DecisionTreeModel.predict(x_test)
print('Accuracy= ' + str(accuracy_score(y_test, pred, normalize=True)))

Accuracy= 0.835320723684

In [146]:
# KNN

In [150]:
# testing KNN for different Ks using cross-validation for test error

List = list(range(1,50))
#gettting the odds ones
neighbours = list(filter(lambda x: x % 2 !=0, List))

CV_scores = []

print('beofre')
for k in neighbours:
    knn = KNeighborsClassifier(n_neighbors=k)
    scores = cross_val_score(knn, x_train, y_train, cv=10, scoring='accuracy')
    CV_scores.append(scores.mean())

Errors = [ 1 - x for x in CV_scores]

optimalneighbours = neighbours[Errors.index(min(Errors))]
print ("The optimal number of neighbors is %d" % optimalneighbours)

beofre
The optimal number of neighbors is 41

In [151]:
KNN = KNeighborsClassifier(n_neighbors=optimalneighbours)
knn.fit(x_train, y_train.values.ravel())
pred = knn.predict(x_test)
print(accuracy_score(y_test, pred))

0.889185855263

In [152]:
# KNN had better predictions, so going ahead with KNN

In [166]:
QueryFrame = pd.read_csv('./data/trainingset.txt', names=headers, na_values=['?'])

In [177]:
QueryCatFeatures = ['job','loan','marital', 'education', 'default', 'housing', 'contact', 'month', 'poutcome']
QueryCatFrame = DataFrame[CatFeatures]
QueryContFrame = DataFrame.drop(CatFeatures + ['id', 'y'], axis=1)

querycat_df = CatFrame.T.to_dict().values()
queryvec_cat_df = vectorizer.fit_transform(cat_df)
query_df = np.hstack((ContFrame.as_matrix(), vec_cat_df))

query_pred = knn.predict(query_df)

['TypeA' 'TypeB']

In [192]:
# Making asnwer file

# getting ids as array
ids = QueryFrame['id'].ravel()

# filedata = np.array([ids,query_pred])
# filedata = filedata.T
# print(filedata)

np.savetxt('predictions.txt',np.transpose([ids,query_pred]),fmt='%.18s', delimiter=',', newline='\r\n')

# print(zip(ids,query_pred))
# np.savetxt('myfile.txt', np.transpose([query_pred, ids]))